.mojotpbutton_new5 {
    /* min-width: 100%;
    max-width: 100%; */
    /* left: 0;
    position: relative; */
    height: 30px;
    line-height: 16px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #00abcf;
    display: inline-block;
    padding: 6px 12px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;

}
.stiput {
    border-radius: 0px;
    border: 1px solid #00abcf;
    color: #000;
    font-size: 15px;
    text-align: left;
    font-weight: 600;
    height: 35px !important;
    padding: 0px 2px !important;
    width: 100%;
}
.searchheadnew {
    width: 100%;
    float: left;
    margin: auto;
    padding: 10px 0px 0px;
}